html{
    font-family: monospace;
    font-size: 10px;
}
.heading{
    font-size: 2rem;
    background-color: blue;
    color: white;
    border: 5px;
    border-color: black;
}
#ObjectiveTruths{
    #ObjectiveTruths > ol{
        border: 5px;
        border-color: red;
        background: local;
        background-color: aliceblue; 
    }
    font-style: normal;
}
